body{
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: FutureLight;
}

#allContent{
    margin: 0;
    padding: 0;
    width: 10px;
    height:50px;
}

.navbar{
    position: fixed;
    top: 5%; bottom: auto; left: 5%; right: 5%;
    height: 50px;
    -webkit-box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 0px -5px 5px -5px rgba(0,0,0,0.75);
    z-index: 1000;
}

.openMenu{
    position:absolute;
    top: 0%; left: auto; right: 0%; bottom: auto;
    margin: 0;
    padding: 0 10px;
    height: 100%;
    
    font-size: 35px;
    line-height: 50px;
    color: #181818;
    text-transform: uppercase;
    cursor:pointer;
    animation-name: unknown;
    animation-duration: 2s;
    transition: 2s;
    z-index: 1000;
}

.openMenu:hover{
    -webkit-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,0.75);
    transition: 0.5s;
}

.menu{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0%; left: auto; right: 0%; bottom: auto;
    width: 750px;
    height: 100%;
    display: none;
    
    list-style-type: none;
    animation-name: unknown;
    animation-duration: 2000ms;
    z-index: 100;
}

.menu li{
    width: 20%;
    height: 100%;
    float: left;
}

.menu li a{
    width: 130px;
    height: 100%;
    display: block;
    
    font-size: 20px;
    line-height: 50px;
    color: #181818;
    text-align: center;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
}

.menu li a:hover{
    -webkit-box-shadow: 0px 10px 10px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 10px 10px -10px rgba(0,0,0,1);
    box-shadow: 0px 5px 5px -5px rgba(0,0,0,1);
    transition: 0.5s;
}

.invisibleMenu{
    position: fixed;
    top: 5%; bottom: 95%; left: 95%; right: 0%;
    height: 50px;
    display: block;
    background-color: #ffffff;
    
    z-index: 1000;
}


@font-face {
    font-family: FutureLight;
    src: url("../fonts/FuturaPTLight.otf") format("opentype");
}

@keyframes moveLeftMenu{
  from {left: 85%; }
  to  {left: 0%; }
}

@keyframes moveRightMenu{
  from {right: 85%; }
  to  {right: 0%; }
}

@keyframes openMenu{
  from {right: -100%; }
  to  {right: 0%; }
}

@keyframes closeMenu{
  from {right: 0%; }
  to  {right: -100%; }
}

	
