// out: index.css, compress: true

$introWrapperIndex = 1000
$loaderAnimationDuration = 2000ms

.introWrapper
  position fixed
  top:0;right:0;bottom:0;left:0;
  z-index $introWrapperIndex

  background-color #fff

  svg
    position absolute
    top 50%
    left 50%
    width 100px
    height 100px

    -webkit-transform translate(-50%, -50%)
    -ms-transform translate(-50%, -50%)
    -o-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

    .loader
      stroke-dasharray 1350.88px
      stroke-dashoffset 4052.62px

      -webkit-animation loaderAnimation $loaderAnimationDuration linear infinite
      -moz-animation loaderAnimation $loaderAnimationDuration linear infinite
      animation loaderAnimation $loaderAnimationDuration linear infinite

    .stroke
      fill none
      stroke #212121
      stroke-width 20px
      stroke-linecap butt
      stroke-linejoin miter

    path
      display none

@keyframes loaderAnimation
  from
    stroke-dashoffset 4052.62px

  to
    stroke-dashoffset 1350.88px

@font-face
    font-family FuturaPTLight
    src url("../assets/fonts/FuturaPTLight.otf") format("opentype")
