body {
  margin: 0;
}

.row {
  position: relative;
  width: 100%;
  height: auto;
  margin: inherit;
  z-index: 10;
}

.col {
  position: relative;
  width: 100%;
  margin: inherit;
}

.card {
  position: relative;
  width: 80%;
  min-width: 300px;
  height: 550px;
  margin: 50px auto;
  -webkit-box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
}

.card img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.card video {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100%;
}

.card p {
  position: absolute;
  top: 0;
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  text-orientation: upright;
}

video::-webkit-media-controls {
  display: none !important;
}

@media (min-width: 1049px) {
  .row {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }
  .row .col {
    width: 33.3%;
    float: left;
  }
  .row .col .card {
    width: 80%;
  }
}

@media (min-width: 1199px) {
  .row .col .card {
    width: 80%;
  }
}
