// out: index.css, compress: false

$introWrapperIndex = 1000

.introWrapper
  position fixed
  top:0;right:0;bottom:0;left:0;
  z-index $introWrapperIndex

  background-color #fff

  svg
    position absolute
    top 50%
    left 50%
    width 100px
    height 100px

    -webkit-transform translate(-50%, -50%)
    -ms-transform translate(-50%, -50%)
    -o-transform translate(-50%, -50%)
    transform translate(-50%, -50%)

    path
      display none

    .stroke
      fill black
      fill-opacity 0
      stroke-opacity 0.3
      stroke #212121
      stroke-width 20px
      stroke-linecap butt
      stroke-linejoin miter

    .animationLogoA
      display inline

      -webkit-animation 1s ease-out 1s 1 normal forwards running
      -moz-animation 1s ease-out 1s 1 normal forwards running
      animation 1s ease-out 1s 1 normal forwards running

    .animationLogoL
      display inline
      -webkit-animation 1s ease-out 2s 1 normal forwards running
      -moz-animation 1s ease-out 2s 1 normal forwards running
      animation 1s ease-out 2s 1 normal forwards running



    .loader
      stroke-width 20px
      stroke-dasharray 1350.88px
      stroke-dashoffset 1350.88px

      -webkit-animation loading 2s infinite linear
      -moz-animation loading 2s infinite linear
      animation loading 2s infinite linear

    .gg
      display none
      -webkit-animation none
      -moz-animation none
      animation none

@keyframes loading
  from
    stroke-dashoffset 1350.88px

  to
    stroke-dashoffset -1350.88px

@font-face
    font-family FuturaPTLight
    src url("../assets/fonts/FuturaPTLight.otf") format("opentype")
