body
  margin: 0
  font-family: FuturaPT

.backgroundVideo
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  overflow: hidden
  z-index: -100
  background: url('../media/images/indexBackground.jpg') center center / cover no-repeat
  video
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%

.row
  position: relative
  width: 100%
  height: auto
  margin: inherit
  z-index: 100

  .col
    position: relative
    width: 100%
    margin: inherit

    .wrapper
      position: relative
      width: 80%
      min-width: 300px
      height: 550px
      margin: 50px auto
      -webkit-box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.5)
      -moz-box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.5)
      box-shadow: 0px 30px 35px 5px rgba(0, 0, 0, 0.5)
      overflow: hidden
      cursor: pointer

      img
        position: absolute
        left: 50%
        transform: translateX(-50%)
        width: auto
        height: 100%



video::-webkit-media-controls
    display:none !important

@media (min-width: 1049px)
    .row
      position: fixed
      top: 50%
      transform: translateY(-50%)

      .col
        width: 33.3%
        float: left

        .wrapper
          width: 80%

@media (min-width: 1199px)
    .row
      .col
        .wrapper
          width: 80%


@media (min-aspect-ratio: 16/9)
  .backgroundVideo
    video
      height: 300%
      top: -100%

@media (max-aspect-ratio: 16/9)
  .backgroundVideo
    video
      width: 300%
      left: -100%
