//output:index.html, pretty:false

doctype html
html(lang='en')
  head
    include includes/head.jade
      
  body
    
    #intro.row
      .col.col-12
        .logo
          h1 AL
        .loader
          
    .row
      .col.col-12
        Lorem Ipsum
        
    include includes/scripts.jade
