//output:index.html, pretty:false

doctype html
html(lang='en')
  head
    include includes/head.jade
      
  body
      
    header
      
    article
      
    footer
      
        
    include includes/scripts.jade
