//output: index.html

doctype html
html(lang='it')
  head
    title Anime, Manga and Videogames
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/index.css')
  body
    
    .row
      .col
        .card
          img(alt='Anime', src='images/indexAnim.png')
          p Anime
      .col
        .card
          img(alt='Manga', src='images/indexMang.jpg')
          p Manga
      .col
        .card
          img(alt='Videogames', src='images/indexVideogame.jpg')
          p Videogames
          
          
