//output: index.html

doctype html
html(lang='it')
  head
    title Anime, Manga and Videogames
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' type='text/css' href='css/index.css')
    
  body
    .backgroundVideo
      video(autoplay poster='media/images/indexBackground.jpg')
        source(src='media/videos/indexBackground.mp4' type='video/mp4')
        source(src="media/videos/indexBackground.webm" type="video/webm")
        img(alt='backgroundImage' src="media/images/indexBackground.jpg")
        
    .row
      .col
        .wrapper
          img(alt='anime' src='media/images/indexAnime.jpg')
          
      .col
        .wrapper
          img(alt='manga' src='media/images/indexManga.jpg')
          
      .col
        .wrapper
          img(alt='games' src='media/images/indexGames.jpg')
          
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='js/index.js')  
          
