//output:index.html

doctype html
html
  head
    title Scanace
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', type='text/css', href='loading.css')
    script(src='home.js')
  body
    .loading
      div
        p s
